<!doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Group-C5</title>
         <!-- Custom styles for this template-->
    <link href="Public/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static',filename='Public/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='Public/css/sb-admin-2.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='Public/css/Project.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{{ url_for('static', filename='Public/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
            <!-- Page level plugins -->
    <script src="Public/vendor/chart.js/Chart.min.js"></script>

            <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='Public/js/demo/chart-area-demo.js')}}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src ="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBRGCsyA4/9szpPfrX3s49M9vUU5Bgti]j06wt/s="
    crossorigin="anonymous" ></script>

    <!-- datepicker styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Dashboard.html">
          <div class="sidebar-brand-text mx-3">Group-C5</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link " href="{{url_for('dashboard')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ url_for('to_sprintboard_table') }}">
            <i class="fas fa-fw fa-cog"></i>
            <span>SprintBoard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('members')}}">
              <i class="fas fa-user-friends"></i>
              <span>Members</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('logout')}}">
              <i class="fa fa-sign-out"></i>
              <span>Sign Out</span>
          </a>
      </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->


      <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between ">
              <h1 class="h3 mb-0 text-gray-800">Burndown Chart</h1>
            </div>

          </nav>
       
        <!-- End of Topbar -->

        <!-- copyPaste -->
        <!-- content of the page  -->
        <div class="container-fluid">

                            <!-- Area Chart -->
                           <div class="card shadow mb-4 ">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                              </div>
                              <div class="card-body col-md-12">
                           
                                    <div class="ct-chart ct-perfect-fourth w-75 h-50 p-3"></div>    
   
                              </div>
                              <div class="card-footer col-md-12">
                                <ul class="list-group list-group-horizontal">
                                  <li class="list-group-item m-0 font-weight-bold text-primary"><span>🔴</span> Actual Velocity</li>
                                  <li class="list-group-item m-0 font-weight-bold text-primary"><span>🟠</span> Estimated Velocity</li>
                                  <li class="list-group-item m-0 font-weight-bold text-primary"><span>🟡</span> Ideal Velocity</li>
                                  
                                </ul> 
                          </div>
                          </div>

        </div>
        <!-- /.container-fluid -->
    </div>


      <!-- End of Main Content -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Project Hawk 2022</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>

    <!-- End of Content Wrapper -->

 
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="Public/vendor/jquery/jquery.min.js"></script>
    <script src="Public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="Public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="Public/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="Public/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="Public/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="Public/js/demo/datatables-demo.js"></script>

    
    <script>
    
    
      var getData = $.get('/data');
  
      getData.done(function(results){
        var data = {
            // A labels array that can contain any sort of values
            labels: ["20-09-2022", "21-09-2022", "22-09-2022", "23-09-2022", "24-09-2022", "25-09-2022" ],
            // Our series array that contains series objects or in this case series data arrays
            series: [
                  {
                    label: "Actual Velocity", 
                    data: results.actualtime,
                  },
  
                  {
                    label: "Estimated Velocity", 
                    data:  results.estimatedtime
                  }, 
  
                  {
                    label: "Ideal Velocity", 
                    data: [1875, 1625, 1500, 1250, 1123, 875 ]
                  }
            ], 
  
            
          }; 
  
          
  
  
    
  
  
          // Create a new line chart object where as first parameter we pass in a selector
          // that is resolving to our chart container element. The Second parameter
          // is the actual data object.
          var myChart = new Chartist.Line('.ct-chart', data);
  
      });
          
      </script>
  </body>

</html>